<div xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-4">
        <div class="container">
            <a class="navbar-brand text-white" th:href="@{/cars}">Rent a Car</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" th:href="@{/cars}">Vehicles</a>
                    <a class="nav-link text-white" th:if="${!isAdmin}" th:href="@{/reservations}">My Reservations</a>
                    <a class="nav-link text-white" th:if="${isAdmin}" th:href="@{/create-car}">Create Car</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class=" btn btn-danger cursor-pointer " th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>