<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/menu :: menu"></header>

<div class="container">
    <h2>Car Details</h2>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{https://picsum.photos/seed/{carId}/800/600(carId=${car.id})}" class="img-fluid rounded-start" alt="Car Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${car.model} + ' - ' + ${car.brand}"></h5>
                    <p class="card-text">
                        Engine: <span th:text="${car.engineType}"></span><br>
                        Category: <span th:text="${car.category}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>