<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/menu :: menu}"></header>

<div class="container">
    <h2>Car Details</h2>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{https://picsum.photos/seed/{carId}/800/600(carId=${car.id})}" class="img-fluid rounded-start" alt="Car Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fs-3" th:text="${car.brand} + ' - ' + ${car.model}"></h5>
                    <p class="card-text">
                        Engine: <span class="fw-bold" th:text="${car.engineType}"></span><br>
                        Category: <span class="fw-bold" th:text="${car.category}"></span><br>
                        Milage: <span class="fw-bold" th:text="${dataFormatUtils.formatNumber(car.mileage)} + ' km'"></span><br>
                        Color: <span class="fw-bold" th:text="${car.color}"></span><br>
                        Year of Manufacture: <span class="fw-bold" th:text="${car.year}"></span><br>
                        Horse Power: <span class="fw-bold" th:text="${car.horsePower}"></span><br>
                        Registration Number: <span class="fw-bold" th:text="${car.registrationNumber}"></span>
                    </p>
                    <p class="fs-4">Price Per Day: <span class="fw-bold" th:text="${dataFormatUtils.formatPrice(car.pricePerDay)}"></span></p>

                    <div th:if="${unavailable && !isAdmin}" class="alert alert-danger">
                        Vehicle is currently unavailable.
                    </div>

                    <div th:if="${isAdmin && car.isVisible}" class="mt-4">
                        <form th:action="@{/cars/{id}/remove(id=${car.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Remove from catalog</button>
                        </form>
                    </div>
                    <div th:if="${isAdmin && !car.isVisible}" class="mt-4">
                        <form th:action="@{/cars/{id}/list(id=${car.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Add to catalog</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:if="${isAdmin}">
        <div class="mt-4">
            <h3>Current Reservations</h3>
            <ul class="">
                <li class="list-group-item" th:each="reservation : ${currentReservations}">
                    <div th:replace="~{fragments/reservation :: reservation(reservation=${reservation}, canDelete=false)}"></div>
                </li>
                <li class="list-group-item text-muted" th:if="${#lists.isEmpty(currentReservations)}">
                    No current reservations
                </li>
            </ul>
        </div>

        <div class="mt-4">
            <h3>Past Reservations</h3>
            <ul class="">
                <li class="list-group-item" th:each="reservation : ${pastReservations}">
                    <div th:replace="~{fragments/reservation :: reservation(reservation=${pastReservations}, canDelete=false)}"></div>
                </li>
                <li class="list-group-item text-muted" th:if="${#lists.isEmpty(pastReservations)}">
                    No past reservations
                </li>
            </ul>
        </div>

        <h3 class="mt-4">Update Car</h3>
        <div th:if="${updateError}" th:text="${updateErrorMessage}" class="alert alert-danger"></div>
        <form th:action="@{/cars/{id}/update(id=${car.id})}" method="post" class="mt-4 mb-5">
            <div class="mb-3">
                <input type="text"  th:value="${car.model}" maxlength="20" name="model" class="form-control" placeholder="Model" required/>
            </div>
            <div class="mb-3">
                    <select class="form-select" name="brand" aria-label="Select Brand" required>
                        <option value="" disabled>Select Brand</option>
                        <option th:each="brand : ${brands}" th:value="${brand.name}" th:selected="${brand.name == car.brand}" th:text="${brand.name}"></option>
                    </select>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Select Category" name="category" required>
                    <option value="" disabled >Select Category</option>
                    <option th:each="category : ${categories}" th:selected="${category.name == car.category}" th:value="${category.name}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select" id="engineType" name="engineType" required>
                    <option value="" disabled >Select Engine</option>
                    <option th:each="type : ${T(com.metropolitan.rent_a_car_system.enums.EngineType).values()}"
                            th:value="${type}"
                            th:selected="${type == car.engineType}"
                            th:text="${type.getDisplayName()}"></option>
                </select>
            </div>
            <div class="mb-3">
                <input type="number" min="0"  name="pricePerDay" th:value="${car.pricePerDay}" class="form-control" placeholder="Price Per Day" required/>
            </div>
            <div class="mb-3">
                <input type="text" name="color" th:value="${car.color}"  maxlength="20" class="form-control" placeholder="Color" required/>
            </div>
            <div class="mb-3">
                <input type="number" min="1900" name="year" th:value="${car.year}"  class="form-control" placeholder="Year of Manufacture" required/>
            </div>
            <div class="mb-3">
                <input type="text" maxlength="20"  name="registrationNumber" th:value="${car.registrationNumber}" class="form-control" placeholder="Registration Number" required/>
            </div>
            <div class="mb-3">
                <input type="number" min="0" name="milage" th:value="${car.mileage}"  class="form-control" placeholder="Milage" required/>
            </div>
            <div class="mb-3">
                <input type="number" min="0" name="horsePower" th:value="${car.horsePower}"  class="form-control" placeholder="Horse Power" required/>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <br/>
        <br/>
    </div>
    <div th:if="${!unavailable && !isAdmin}" class="alert alert-primary">
        <div th:replace="~{fragments/reservation-form :: reservation-form(car=${car})}"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>